body {
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    max-width: 15cm;
}

body > ul {
    list-style-type: "▶ ";
}

body > ul > li > ul {
    list-style-type: "● ";
    margin-top: 1ex;
}

body > ul > li > ul > li {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.section {
    border-bottom: 1px dotted;
    font-weight: bold;
}

body > ul > li > ul > li > :first-child {
    font-weight: bold;
}

body > ul > li > ul > li > a:last-of-type::after {
    content: "\A";
    white-space: pre;
}

.content-warnings {
    font-weight: bold;
}

[data-warning-tags] > img {
    margin-right: 0.5em;
    height: 1.5em
}

[data-warning-tags] a {
    text-decoration: none;
    color: white;
    border-bottom: dotted 1px;
}

[data-warning-tags] {
    font-weight: bold;
    margin-top: 0.4em;
}

body > ul > li > ul > li > p {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.title::after {
    content: '\A';
    white-space: pre;
}

.links {
    list-style-type: none;
    padding-left: 0px;
}

.links::before {
    content: 'Links: '
}

.links a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.links img {
    margin-right: 1ex;
    max-width: 1em;
    max-height: 1em;
}

.links li {
    margin: 0.2em 0px;
}
